<!DOCTYPE html>
<html lang="en">


{{> head}}

<body>
  {{> navbar}}
  <div>
    <a href="/api/sign-up">Thêm mới</a>
    {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    <table class="table table-hover table-list-users">
      <thead>
        <tr>
          <th scope="col">Mã</th>
          <th scope="col">Tên</th>
          <th scope="col">Email</th>
          <th scope="col">Tài khoản</th>
          <th scope="col">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        {{#each itemUser}}
        <tr>
          <th scope="row">{{id}}</th>
          <td>{{ name }}</td>
          <td>{{ email }}</td>
          <td>{{user}}</td>
          <td>
            <a href="/edit-form/{{this.id}}" class="btn btn-lg btn-primary edit">Sửa</a>
            <a href="/delete/{{this.id}}" class="btn btn-lg btn-danger delete">Xóa</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</body>
<!--Load bootstrap.js file-->
{{> scripts}}

</html>